<div class="card-group" ng-show="item.items">

	<div class="card-deck row">
		<div class="card col-md-4" ng-repeat="product in item.items | orderBy: '-date' | filter: filterSearch">
			<div class="card-block">
				<div class="middle">
					<img class="card-img-top" ng-src="{{product.picture}}" alt="Card image cap">
					<h5 class="card-title">{{ product.name }}</h5>
					<p class="card-text">by: {{product._creator.username}}</p>
					<a  href="#" class="contactButton">Contact Seller</a>
					<p class="card-text"><small class="text-muted">Date Posted: {{product.date | date:"MM/dd/yyyy"}}</small></p>
						<p class="card-text">{{product.description}}</p>
						<p class="card-text" id="price">${{product.price}}</p>
					<a ng-if="!main.loggedIn" href="/login" class="btn btn-primary">Add to Cart</a>
					<a ng-if="main.loggedIn" href="/checkout" class="btn btn-primary">Add to Cart</a>
					<br><a ng-if="product._creator == item.user"  ng-href="/items/{{ product._id }}" class="editButton">Edit Item</a>
					<br><a ng-if="product._creator == item.user" href="#" ng-click="item.deleteItem(product._id)" class="deleteButton">Delete Item</a>
			</div>
			</div>
		</div>
	</div>
</div>

<div class="pages">
	<button> < </button> &nbsp; &nbsp;
	<a> 1 </a> &nbsp;&nbsp;
	<a> 2 </a> &nbsp;&nbsp;
	<a> 3 </a> &nbsp;&nbsp;
	<a> 4 </a> &nbsp;&nbsp;
	<a> 5 </a> &nbsp;&nbsp;
	<a> 6 </a> &nbsp;&nbsp;
	<a> 7 </a> &nbsp;&nbsp;
	<a> 8 </a> &nbsp;&nbsp;
	<a> 9 </a> &nbsp;&nbsp;
	<a> 10 </a> &nbsp;&nbsp;
	<button> > </button>
<div>
