<div class="jumbotron text-center">
  <h1> Home Page </h1>

  <h2>This is my list:</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>name</td>
        <td>color</td>
        <td>price</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="items in main.items">
        <td>{{items.name}}</td>
        <td>{{items.color}}</td>
        <td>{{items.price}}</td>
      </tr>
    </tbody>
  </table>

  <form class="form-inline" ng-submit="main.addItem()">
    <input type="text" class="form-control" placeholder="Add Item" ng-model="main.itemData.name">
    <input type="text" class="form-control" placeholder="Add Color" ng-model="main.itemData.color">
    <input type="text" class="form-control" placeholder="Add Price" ng-model="main.itemData.price">
    <button type="submit" class="btn btn-success">Add Item</button>
  </form>

</div>
