<div class="page-header">
	<h1>
		Items
		<a href="/items/create" class="btn btn-default" ng-if="main.loggedIn">
			<span class="glyphicon glyphicon-plus"></span>
			Sell a New Item
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="item.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Items...</p>
</div>

<table class="table table-bordered table-striped" ng-show="item.items">
	<thead>
		<tr>
			<th>_id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Picture</th>
			<th>Seller</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in item.items">
			<td>{{ product._id }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.description }}</td>
			<td>{{ product.price }}</td>
			<td>{{ product.picture }}</td>
			<td>{{ product.user}}</td>
			<td class="col-sm-2">
				<a ng-href="/items/{{ product._id }}" class="btn btn-danger" >Edit Item</a>
				<a href="#" ng-click="item.deleteItem(product._id)" class="btn btn-primary">Delete Item</a>
			</td>
		</tr>
	</tbody>
</table>
