<div="usersitems" ng-if="main.loggedIn" ng-controller="mainController as main">

<div class="page-header">
	<h1>
		My Items
		<a href="/items/create" class="btn btn-default" ng-if="main.loggedIn">
			<span class="glyphicon glyphicon-plus"></span>
			Sell a New Item
		</a>
	</h1>

	<form role="search">
		<div class="form-group col-sm-4">
				<input type="text" class="form-control" ng-model="filterSearch" placeholder="Search Items">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	</div>

</div>

<div>
	<div class="card-group" ng-show="item.items">

	  <div class="card-deck row">
	    <div class="card col-md-4" ng-repeat="product in item.items | orderBy: '-date' | filter: filterSearch" ng-if="item.user === product._creator.username">
	      <div class="card-block">
		    <img class="card-img-top" ng-src="{{product.picture}}" alt="Card image cap">
	        <h5 class="card-title">{{ product.name }}</h5>
					<p class="card-text"><small class="text-muted">Date Posted: {{product.date | date:"MM/dd/yyyy"}}</small></p>
					<p class="card-text">{{product.description}}</p>
				  <p class="card-text" id="price">${{product.price}}</p>
					<a ng-href="/items/{{ product._id }}" class="editButton">Edit Item</a> &nbsp; &nbsp;
					<a href="#" ng-click="item.deleteItem(product._id)" class="deleteButton">Delete Item</a>
				<br><br>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</div>
