body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h5 {
	margin-left: 0;
	margin-right: 0;
	font-size: 30px;
}

.card-text {
	margin: 0px;
}

#itempic {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 15px;
}

.card {
	margin-top: 40px;
}

#price {
	font-size: 20px;
	color: green
}

.contactButton {
	color: blue;
}

.editButton {
	color: green;
}

.deleteButton {
	color: red;
}

.signup {
	text-align: center;
}

#content-views {
	position: relative;
}

.ng-view {
	padding-top: 40px;
}

.alert {
	text-align: center;
}

.ng-leave {
	width: 100%;
	position: absolute;
	-webkit-animation:zoomOutDown 0.5s both ease-in;
	-moz-animation:zoomOutDown 0.5s both ease-in;
		animation: zoomOutDown 0.5s both ease-in;
}

.card-img-top{
	max-width: 288px;
	max-height: 225px;
	margin-left: auto;
	margin-right: auto
}

header .navbar {
	border-radius: 0;
	background-color: gray;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;

}

/*login page*/
.spinner {
	animation:spin 1s infinite;
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
}

@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@-moz-keyframs spin {
	from {-moz-transform:rotate(0deg);}
	to {-moz-transform:rotate(360deg);}
}

#signup {
	margin-left: 300px;
	margin-bottom: 30px;
}

/*NGANIMATE*/
/*show and hide*/

.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
		animation: zoomIn 0.3s both ease;
}
